<h1>Artists Page</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>№</th>
        <th>Name</th>
        <th>iTunes_Id</th>
        <th>Number of albums</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |artist index|}}
        <tr {{action 'findAlbums' artist.id}}>
            <th>{{consecutive-number index}}</th>
            <td>{{artist.name}}</td>
            <td>{{artist.itunes_id}}</td>
            <td>{{artist.albums_count}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>